#mincomdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px rgb(223, 220, 220) solid;
    border-bottom: 1px rgb(218, 214, 214) solid;
}

#mincomimg {
    height: 25px;
    width: 25px;
    border-radius: 50% 50% 50% 50%;
    object-fit: cover;
    margin-left: 6px;
    margin-right: 5px;
}

#mincomp1 {
    font-weight: 700;
    font-size: medium;
    margin-right: 5px;
    font-family: monospace;
}

#mincomp2 {
    font-size: medium;
    font-family: monospace;
}

#commentsmin {
    height: 26rem;
    overflow-y: auto;
}

@media screen and (min-width:768px) {
    #commentsmin {
        height: 26rem;
    }
}

#exit_log_but {

    color:red;
    display:none;
}

#exit_log_but:hover{
    color:rgb(226, 65, 97);
}

@media (min-width: 768px){
    #exit_log_but{
        display: unset
    }
}